.holder{
	width:100vw;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
/* 	margin:200px; */
}	
	
.item-1{
	width:100px;
	height:100px;
	background-color:red;
	justify-content:center;
	align-items:center;
}


/* Your CSS Code here. */